
.bgImg{
        background-image: url("bg.jpg");
        background-position: center; 
        background-repeat:inherit
    }
    .wtiiTitle{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center; 
        height: 35vh;
    }
    .iconTitle{
        display: flex;
        justify-content: center;
        align-items: center; 
        height: 20vh;   
    }
    .time, .shoutOut{
        width: 100%;
        max-width: 500px;
        padding: 20px 15px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 0 auto;
    }
    .time div{
        padding: 15px;
        border-radius: 15px;
        margin: auto;
        width: 100px;
        height: 80px;
        text-align: center;
        line-height: 80px;
        font-size: 48px;
        color: #1d2d49;
        box-shadow:  5px 5px 10px #1d2d49;
    }
    .shoutOut{
        display:none;
        width: 500px;
        font-family: 'Bebas Neue', cursive;
        font-weight: bold;
    }
    .title1{
        position: absolute;
        z-index: 2;
    }
    .title2{    
        transform: translate(3px,5px);
        position: absolute;
        z-index: 1;
        animation-name: titleMove;
        animation-duration: 2s;
    }
    .icon{
        height: 140px;
        width: 140px;
        border-radius: 50%;
        box-shadow: 5px 5px 10px #b6c6e2 ;
    }
    .timezone{

        display: flex;
        flex-direction: row;
        margin-left: auto;
        margin-right: auto;
    }
    .timezone > div{
        font-family: 'Bebas Neue', cursive;
        font-weight:bold;
        font-size: 13px;
        text-align: center;
        color: #b0b5b0;

        border-radius: 8px;
        background-color: #0e1725;
        
        padding: 10px 15px;
        margin: 25px 10px;
    }
    .timezone > div:hover{
        
        color: black;
        border-radius: 8px;
        background-color: white;
        
        padding: 10px 15px;
        margin: 25px 10px;
        box-shadow: 3px 3px 5px black;
        ;
    }


    /* The animation code */
    @keyframes titleMove {
    from {transform: translate(0px,0px);}
    to {transform: translate(3px,5px);}
    }
    @media only screen and (max-width: 600px) {

        body {
            background-color: lightblue;
        }
        .wtiiTitle{
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center; 
            
        }
        .time div{
            padding: 5px;
            border-radius: 15px;
            margin: 0px;
            width: 70px;
            height: 50px;
            text-align: center;
            line-height: 50px;
            font-size: 40px;
            color: #1d2d49;
            box-shadow:  5px 5px 10px #1d2d49;
        }
        h2{
            font-size:60px;
        }
        .time, .shoutOut{
            width: 100%;
            padding: 10px 0px;
            display: flex;
            flex-direction: row;
            justify-content:space-around;
            margin: 0 auto;
        }
        .shoutOut{
            padding: 50px 0px;
        }
        .timezone{
            display: grid;
            grid-template-columns: auto auto ;
        }
    }