body{
    margin: 0px;
    color:#dae3f1
}
.wrapper{
    display: flex;
    flex-direction: column;
    height:100vh ;
}
/* Material Design */
h1,h2,h3,h4,h5,h6{
    font-family: 'Bebas Neue', cursive;
}
h1{font-size: 96px;}
h2{font-size: 60px;}
h3{font-size: 48px;}
h4{font-size: 34px;}
h5{font-size: 24px;}
h6{font-size: 20px;}

.subtitle1{font-size: 16px;}
.subtitle1{font-size: 14px;}
.body1{font-size: 16px;}
.body2{font-size: 14px;}
button{font-size: 14px;}
.caption{font-size: 12px;}
